# CREDENCIAIS DEV

HOST_DEV=aws-0-sa-east-1.pooler.supabase.com
DB_NAME_DEV=postgres
DB_USER_DEV=bi_user.jmwcemtewbxfzwzbklou
DB_PASSWORD_DEV=75979640
PORT_DEV=5432

# CREDENCIAIS PRODUCTION

HOST_PROD=
DB_NAME_PROD=
DB_USER_PROD=
DB_PASSWORD_PRO=
PORT_PROD=

